*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#drum-machine {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 800px;
    height: 800px;
    padding: calc(1% + 1em);
    gap: calc(1% + 1em);
}

#display {
    border: 1px solid black;
    height: 20%;
}

#pad-bank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 100%;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 32%;
    width: 32%;
}