*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --casing-bg: #d5d1be;
    --btn-red: #dc9265;
    --display-bg: #9eaaa0;
    --button-col: #575552;
    --button-tap: #282726;
    --border-rad: 10px;
}

@font-face {
    font-family: 'calcFont';
    src: url('./src/font/digital-7.ttf') format('truetype'),
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#drum-machine {
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 90vh;
    padding: calc(1% + 1em);
    gap: calc(1% + 1em);
    background-color: var(--casing-bg);
    border-radius: var(--border-rad);
}

#display {
    height: 20%;
    font-family: 'calcFont', sans-serif;
    font-size: 10vh;
    /* padding: 0.2em; */
    background-color: var(--display-bg);
    border-radius: var(--border-rad);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pad-bank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32%;
    width: 32%;
    background-color: var(--button-col);
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 5vh;
    color: #f4f1ed;
    border-radius: var(--border-rad);
}

.drum-pad.active {
    background-color: var(--button-tap);
    transition: background-color 0.1s;
}

/* Mobile/tablet mode */
@media only screen and (max-width: 1024px) {
    #drum-machine {
        width: 100vw;
        height: 100vh;
    }
    
}
